.env
.env.*

.DS_Store
.idea
uploads
docs

# Ignore src dir node_modules
src/*/*/node_modules


# Ignore everything under "src/plugins"
src/plugins/*
src/wordpress
# But don't ignore needed plugins
!src/plugins/akismet
!src/plugins/disable-wordpress-updates
!src/plugins/elementor
!src/plugins/ele-custom-skin
!src/plugins/elementor-pro
!src/plugins/posts-carousel
!src/plugins/wordpress-seo
!src/plugins/wp-migrate-db
!src/plugins/carousel
!src/plugins/wp-migrate-db-pro
!src/plugins/wp-migrate-db-pro-media-files
!src/plugins/sticky-header-effects-for-elementor
!src/plugins/posts-tabs
!src/plugins/wordfence
!src/plugins/advanced-custom-fields
!src/plugins/back-button
!src/plugins/featured-image
!src/plugins/posts
!src/plugins/wp-mail-smtp-pro
!src/plugins/social-links
!src/plugins/tabs
!src/plugins/custom-post-type-ui
!src/plugins/posts-category
!src/plugins/post-types-order
!src/plugins/jump-to-menu

# But ignore everything under "src/themes"
src/themes/*

# But don't ignore needed themes
!src/themes/hello-elementor
!src/themes/hello-theme-child
!src/themes/twentytwentyone


# ignore manifest file for laravel mix hello-theme-child
src/themes/hello-theme-child/assets/mix-manifest.json

