@-webkit-keyframes a_width_left_to_right {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes a_width_left_to_right {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes header_hover_white {
  from {
    background-color: transparent;
  }
  to {
    background-color: white;
  }
}

@keyframes header_hover_transparent {
  from {
    background-color: white;
  }
  to {
    background-color: transparent;
  }
}

@keyframes shrink {
  0% {
      transform: scale(3);
  }

  100% {
      transform: scale(1);
  }
}

@keyframes grow {
  0% {
      transform: scale(1);
  }

  100% {
      transform: scale(3);
  }
}

@keyframes growYears {
  0% {
      transform: scale(1);
  }

  100% {
      transform: scale(2.5);
  }
}

@keyframes showSearch {
  0% { 
    left: 42.5vw;
    visibility: hidden;
  }
  100% { 
    left: 3.6vw;     
    visibility: visible;
  }
}

@keyframes hideSearch {
  0% { 
    left: 3.6vw;
    visibility: visible;
  }
  100% { 
    visibility: hidden;
  }
}

@keyframes hideSearchSafari {
  0% { 
    left: 3.6vw;
    visibility: visible;
  }
  100% { 
    left: 45.6vw;
    visibility: hidden;
  }
}

@-webkit-keyframes hideSearchSafari {
  0% { 
    left: 3.6vw;
    // opacity: 1;
    visibility: visible;
  }
  100% { 
    left: 45.6vw;
    visibility: hidden;
    // opacity: 0;
  }
}