// /* Elementor */
.elementor-widget:not(:last-child) {
  margin-bottom: 0;
}

// Remove p tag margin-bottom for elementor
.elementor-widget-text-editor p {
  margin-bottom: 0;
}

/* Buttons */
.btn-from {
  font-weight: 600;
}