a {
  color: #20438C;
  border-bottom: 2px solid #20438C;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

#headerSection{
  a {
    border-bottom: 0;
  }
}

.elementor-section.elementor-section-boxed {

  & > .elementor-container {
    max-width: 86%;
    width: 86%;
  }

}

.elementor-section.elementor-section-boxed {

  & > .elementor-container {
    max-width: 86%;
    width: 86%;
  }

}


.elementor-section.elementor-section-boxed {

  &.container {

    & > .elementor-container {
      max-width: 86%;
      width: 86%;
    }

  }

}

.elementor-section.elementor-section-boxed {

  .no-container {

    & > .elementor-container {
      max-width: 100%;
      width: 100%;
    }

  }

}

.leadership-postItem a{
  border:none
}

.slick-prev,
.slick-next,
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: transparent!important;
  outline: none;
  background: transparent!important;
}

@media (min-width: 768px) {

  body:not(.elementor-editor-active) .elementor-menu-anchor:before {
    content: "";
    display:block;
    height: 60px; /* fixed header height*/
    margin: -60px 0 0; /* negative fixed header height */
    visibility: hidden;
    pointer-events: none;
  }
}

.shadowed img{
  box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.75)!important;
  -webkit-box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.75)!important;
  -moz-box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.75)!important;
}