a {
  color: #20438C;
  border-bottom: 2px solid #20438C;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Source Sans Pro";
}

ul, ol {
  margin-bottom: 1rem;
}

#headerSection{
  a {
    border-bottom: 0;
  }
}

.elementor-section.elementor-section-boxed {

  & > .elementor-container {
    max-width: 86%;
    width: 86%;
  }

}

.elementor-section.elementor-section-boxed {

  & > .elementor-container {
    max-width: 86%;
    width: 86%;
  }

}


.elementor-section.elementor-section-boxed {

  &.container {

    & > .elementor-container {
      max-width: 86%;
      width: 86%;
    }

  }

}

.elementor-section.elementor-section-boxed {

  .no-container {

    & > .elementor-container {
      max-width: 100%;
      width: 100%;
    }

  }

}

.leadership-postItem a{
  border:none
}

.slick-prev,
.slick-next,
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: transparent!important;
  outline: none;
  background: transparent!important;
}


.shadowed img{
  box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.75)!important;
  -webkit-box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.75)!important;
  -moz-box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.75)!important;
}

.fixed {
  position: fixed;
  top:0; 
  left:0;
  width: 100%; 
  z-index: 999999999;
  -webkit-transition: position 10s;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: position 10s;
}
.elementor-location-footer.blue {
  background-color: #20438C;
  color: #fff;
  li {
    span, a, .elementor-widget-icon-list .elementor-icon-list-icon i {
      color: #fff !important;
    }
  }
  div.elementor-widget-text-editor p {
    color: #fff !important;
  }
}
.elementor-location-footer.green {
  background-color: #64BC47;
  color: #fff;
  li {
    span, a, .elementor-widget-icon-list .elementor-icon-list-icon i {
      color: #fff !important;
    }
  }
  div.elementor-widget-text-editor p {
    color: #fff !important;
  }
}
.elementor-location-footer.grey {
  background-color: #343434;
  color: #fff;
  li {
    span, a, .elementor-widget-icon-list .elementor-icon-list-icon i {
      color: #fff !important;
    }
  }
  div.elementor-widget-text-editor p {
    color: #fff !important;
  }
}