a {
  color: #20438C;
  border-bottom: 2px solid #20438C;
}

.elementor-section.elementor-section-boxed {

  & > .elementor-container {
    max-width: 86%;
    width: 86%;
  }

}

.elementor-section.elementor-section-boxed {

  & > .elementor-container {
    max-width: 86%;
    width: 86%;
  }

}


.elementor-section.elementor-section-boxed {

  &.container {

    & > .elementor-container {
      max-width: 86%;
      width: 86%;
    }

  }

}

.elementor-section.elementor-section-boxed {

  .no-container {

    & > .elementor-container {
      max-width: 100%;
      width: 100%;
    }

  }

}

.leadership-postItem a{
  border:none
}