.elementor-location-footer.blue {
  background-color: #20438C;
  color: #fff;
  li {
    span, a, .elementor-icon-list-icon i.fa-circle {
      color: #fff !important;
    }
  }
  div.elementor-widget-text-editor p {
    color: #fff !important;
  }
}
.elementor-location-footer.green {
  background-color: #64BC47;
  color: #fff;
  li {
    span, a, .elementor-icon-list-icon i.fa-circle {
      color: #fff !important;
    }
  }
  div.elementor-widget-text-editor p {
    color: #fff !important;
  }
}
body[data-elementor-device-mode="desktop"] .elementor-location-footer.grey {
  background-color: #343434;
  color: #fff;
  li {
    span, a, .elementor-icon-list-icon i.fa-circle  {
      color: #fff !important;
    }
  }
  div.elementor-widget-text-editor p {
    color: #fff !important;
  }
  .elementor-logo-mobile-container {
    display: none;
  }
  section[data-id="a844566"] {
    flex-flow: row;
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin: auto;
    .elementor-column-gap-default {
      flex-flow: column;
      .elementor-column.elementor-col-50 {
        width: auto;
      }
    }
    .elementor-logo-container {
      flex-flow: column;
      min-width: 45%;
      ul {
        display: flex;
        flex-flow: row;
        list-style-type: none;
        li {
          margin: 0 1rem;
          a {
            border: none;
          }
        }
      }
    }
    
    div[data-id="3273a9d"] {
      order: 1;
    }
    div[data-id="9c865b9"] {
      text-align: left;
    }
  }
}
body[data-elementor-device-mode="mobile"] .elementor-location-footer.grey,
body[data-elementor-device-mode="tablet"] .elementor-location-footer.grey {
  background-color: #343434;
  color: #fff;
  li {
    span, a, .elementor-icon-list-icon i.fa-circle  {
      color: #fff !important;
    }
  }
  div.elementor-widget-text-editor p {
    color: #fff !important;
  }
  .elementor-logo-desktop-container {
    display: none;
  }

  section[data-id="a844566"] {
    .elementor-container {
      border-top: 1px solid #fff;
      padding-top: 1rem;
      margin: 1rem auto 0 auto;
    }
  }
  .elementor-logo-container {
    ul {
      display: flex;
      flex-flow: row;
      list-style-type: none;
      justify-content: center;
      li {
        margin: 0 1rem;
        a {
          border: none;
        }
      }
    }
  }
  .elementor-logo-mobile-container {
    padding-bottom: 2rem;
    margin-top: 1rem;
  }
}
