#diversity-slider .slick-slider {
  overflow: hidden;
}

#diversity-slider .from-carousel .slick-prev {
  display: none;
}

#diversity-slider .from-carousel .slick-arrow-right {
  position: absolute;
  right: 4.5vw;
  top: 44%;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;  
  background-color: #20438C;
}

#diversity-slider .from-carousel .slick-arrow-right .slick-next {
  right: 2%;
  height: 100%;
  width: 100%;
  border-radius: 40px;
  top: 53%;
}

#diversity-slider .from-carousel .slick-arrow-right .slick-next::before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

#diversity-slider .from-carousel .slick-prev::before, 
#diversity-slider .from-carousel .slick-next::before {
  font-size: 2.7rem;
}

#diversity-slider .from-carousel .slick-list {
  width: 100%;
  margin-left: 4vw;
  padding:0 10% 0 0 !important;
}