#mediaSection {
  .elementor-gallery__titles-container {
    display: none;
  }
}
.jet-smart-filters-select .jet-select.selectdiv {
  max-width: 100% !important;
}
.jet-smart-filters-select .jet-select.selectdiv .jet-select__control {
  height: 50px;
}
.selectdiv {
  position: relative;
  float: left;
  width: 100%;
  /* IE11 hide native button (thanks Matt!) */
  select::-ms-expand {
    display: none;
  }

  &:after {
    content: ">";
    font: 25px "Consolas", monospace;
    font-weight: bolder;
    /* letter-spacing: 12px; */
    color: #20438c;
    right: 11px;
    top: 10px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }

  label {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    width: 100%;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    height: 50px;
    float: right;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
  }
}


.goBack{
  padding-left: 20px;
  &:before {
    content: ">";
    font: 25px "Consolas", monospace;
    font-weight: bolder;
    left: 0px;
    top:0px;
    color: #20438c;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }

  a{
    text-decoration: none;
    &:hover{
      cursor: pointer;
    }
  }
}